<h3>Order list</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Ordered</th>
			<th scope="col">Required</th>
			<th scope="col">Shipped</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td>{{ item.orderDate }}</td>
			<td>{{ item.requiredDate }}</td>
			<td>{{ item.shippedDate }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination [collectionSize]="pageSize"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
		(pageChange)="refreshList()"
	>
	</ngb-pagination>
</div>