<div class="d-md-flex">
	<ul ngbNav #nav="ngbNav" [(activeId)]="activeNavItem" class="nav-pills m-1" orientation="vertical">
		<li ngbNavItem="list" >
			<a ngbNavLink routerLink="./">Order list</a>
		</li>
		<li ngbNavItem="search">
			<a ngbNavLink routerLink="./search">Order search</a>
		</li>
		<li ngbNavItem="details" [disabled]="true">
			<a ngbNavLink >Order details</a>
		</li>
	</ul>

	<div class="vr d-none d-md-block"></div>
	<hr class="d-block d-md-none"/>

	<div class="m-3 mt-1 col-md">
		<router-outlet></router-outlet>
	</div>
</div>
