<form>
	<div class="row">
		<div class="form-group col">
			<label for="name">Name</label>
			<input id="name" class="form-control" [value]="name" (input)="name=getValue($event)">
		</div>
		<div class="form-group col">
			<label for="unit-price">Unit price</label>
			<input id="unit-price" class="form-control" [value]="unitPrice" (input)="unitPrice=getValue($event)">
		</div>
  </div>
	<p></p>
  <button type="button" class="btn btn-secondary" (click)="0">Search</button>
</form>

<hr/>

<p>product-search under construction!</p>
