<form [formGroup]="searchForm">
	<div class="row">
		<div class="form-group col">
			<label for="name">Name</label>
			<input id="name" class="form-control" formControlName="name">
		</div>
		<div class="form-group col">
			<label for="unit-price">Unit price</label>
			<input id="unit-price" type="number" min="0" class="form-control" formControlName="unitPrice">
		</div>
		<div class="form-group col"></div>
		<div class="form-group col"></div>
  </div>
	<p></p>
  <button type="button" class="btn btn-secondary" (click)="refreshList()"  [disabled]="!searchForm.valid">
		Search
	</button>
</form>

<hr/>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Unit price</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items$ | async" (contextmenu)="onRightClick($event, item.productID)">
			<td>{{ item.productName }}</td>
			<td>{{ item.unitPrice }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination [collectionSize]="pageSize"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
		(pageChange)="refreshList()"
	>
	</ngb-pagination>
</div>

<app-list-context-menu #contextMenu [menuItems]="contextMenuItems"></app-list-context-menu>
