<h3>Customer list</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">Region</th>
			<th scope="col">Postal code</th>
			<th scope="col">Country</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items$ | async" (contextmenu)="onRightClick($event, item)">
			<td>{{ item.companyName }}</td>
			<td>{{ item.address }}</td>
			<td>{{ item.city }}</td>
			<td>{{ item.region }}</td>
			<td>{{ item.postalCode }}</td>
			<td>{{ item.country }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination [collectionSize]="pageSize"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
		(pageChange)="refreshList()"
	>
	</ngb-pagination>
</div>

<app-list-context-menu #contextMenu [menuItems]="contextMenuItems"></app-list-context-menu>
