<div class="d-flex">
	<ul ngbNav #nav="ngbNav" [(activeId)]="activeNavItem" class="nav-pills m-1" orientation="vertical">
		<li ngbNavItem="list" >
			<a ngbNavLink routerLink="./">Product list</a>
			<ng-template ngbNavContent>
        <router-outlet></router-outlet>
			</ng-template>
		</li>
		<li ngbNavItem="search">
			<a ngbNavLink routerLink="./">Product search</a>
			<ng-template ngbNavContent>
        <router-outlet></router-outlet>
			</ng-template>
		</li>
		<li ngbNavItem="details" [disabled]="true">
			<a ngbNavLink routerLink="./">Product details</a>
			<ng-template ngbNavContent>
        <router-outlet></router-outlet>
			</ng-template>
		</li>
	</ul>
  <div class="vr"></div>
	<div [ngbNavOutlet]="nav" class="m-3 mt-1 col-md"></div>
</div>
