<div *ngIf="data$ | async as data; else loading">
  <h3>{{data?.orderID}}</h3>

  <p>{{data?.orderDate | date : 'y MMM d, H:mm' }}</p>
  <p>{{data?.requiredDate | date : 'y MMM d, H:mm' }}</p>
  <p>{{data?.shippedDate | date : 'y MMM d, H:mm' }}</p>
  <p>{{data?.freight}}</p>
  <p>{{data?.shipName}}</p>
  <p>{{data?.shipAddress}}</p>
  <p>{{data?.shipCity}} {{data?.shipPostalCode}}</p>
  <p>{{data?.shipRegion}}</p>
  <p>{{data?.shipCountry}}</p>
</div>
<ng-template #loading>Data loading...</ng-template>