<div class="container">
  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <button type="button" class="btn-close" aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')">
      </button>
    </div>
    <div class="offcanvas-body">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeMenuItemId" class="nav-pills row">
        <li *ngFor="let item of menuItems" [ngbNavItem]="item.title">
          <a ngbNavLink [routerLink]="item.path">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </ng-template>

  <div class="row d-block d-md-none">
    <button class="btn btn-outline-primary" (click)="open(content)">
      Open main menu
    </button>
  </div>

  <div class="d-none d-md-block mt-1">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeMenuItemId" class="nav-tabs row">
      <li class="col-md" *ngFor="let item of menuItems" [ngbNavItem]="item.title">
        <a ngbNavLink [routerLink]="item.path">{{ item.title }}</a>
      </li>
    </ul>
  </div>

  <div class="row mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
